parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no

search:
	section:
		in: %appDir%
		classes:
			- *Form
			- *Service
			- *Manager

extensions:
    - Contributte\FormMultiplier\DI\MultiplierExtension