@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

$primaryFont: 'Lato', sans-serif;

/* CSS HEX */
:root{
  --barn-red: #780000ff;
  --venetian-red: #c1121fff;
  --papaya-whip: #fdf0d5ff;
  --prussian-blue: #003049ff;
  --air-superiority-blue: #669bbcff;

  /* CSS HSL */
  --barn-red: hsla(0, 100%, 24%, 1);
  --venetian-red: hsla(356, 83%, 41%, 1);
  --papaya-whip: hsla(40, 91%, 91%, 1);
  --prussian-blue: hsla(201, 100%, 14%, 1);
  --air-superiority-blue: hsla(203, 39%, 57%, 1);
}

/* SCSS HEX */
$barn-red: #780000ff;
$venetian-red: #c1121fff;
$papaya-whip: #fdf0d5ff;
$prussian-blue: #003049ff;
$air-superiority-blue: #669bbcff;

/* SCSS HSL */
$barn-red: hsla(0, 100%, 24%, 1);
$venetian-red: hsla(356, 83%, 41%, 1);
$papaya-whip: hsla(40, 91%, 91%, 1);
$prussian-blue: hsla(201, 100%, 14%, 1);
$air-superiority-blue: hsla(203, 39%, 57%, 1);

/* SCSS RGB */
$barn-red: rgba(120, 0, 0, 1);
$venetian-red: rgba(193, 18, 31, 1);
$papaya-whip: rgba(253, 240, 213, 1);
$prussian-blue: rgba(0, 48, 73, 1);
$air-superiority-blue: rgba(102, 155, 188, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #780000ff, #c1121fff, #fdf0d5ff, #003049ff, #669bbcff);
$gradient-right: linear-gradient(90deg, #780000ff, #c1121fff, #fdf0d5ff, #003049ff, #669bbcff);
$gradient-bottom: linear-gradient(180deg, #780000ff, #c1121fff, #fdf0d5ff, #003049ff, #669bbcff);
$gradient-left: linear-gradient(270deg, #780000ff, #c1121fff, #fdf0d5ff, #003049ff, #669bbcff);
$gradient-top-right: linear-gradient(45deg, #780000ff, #c1121fff, #fdf0d5ff, #003049ff, #669bbcff);
$gradient-bottom-right: linear-gradient(135deg, #780000ff, #c1121fff, #fdf0d5ff, #003049ff, #669bbcff);
$gradient-top-left: linear-gradient(225deg, #780000ff, #c1121fff, #fdf0d5ff, #003049ff, #669bbcff);
$gradient-bottom-left: linear-gradient(315deg, #780000ff, #c1121fff, #fdf0d5ff, #003049ff, #669bbcff);
$gradient-radial: radial-gradient(#780000ff, #c1121fff, #fdf0d5ff, #003049ff, #669bbcff);

//Query strings
$min-fhd: "(min-width: 1920px)";
$max-fhd: "(max-width: 1920px)";

$min-laptop: "(min-width: 1500px)";
$max-laptop: "(max-width: 1500px)";

$min-small-laptop: "(min-width: 1200px)";
$max-small-laptop: "(max-width: 1200px)";

$min-basic-laptop: "(min-width: 1024px)";
$max-basic-laptop: "(max-width: 1024px)";

$min-large-tablet: "(min-width: 992px)";
$max-large-tablet: "(max-width: 992px)";

$min-tablet: "(min-width: 768px)";
$max-tablet: "(max-width: 768px)";

$min-mobile: "(min-width: 540px)";
$max-mobile: "(max-width: 540px)";

//Variable font size
@for $size from 0 through 500 {
  .font-size-#{$size} {
    font-size: ( ($size * 0.95) * 0.1) + 0rem;
    @media screen and #{$min-large-tablet}{
      font-size: ($size * 0.1) + 0rem;
    }

  }
}

//Spacers
@for $int from 1 through 50 {
  .spacer-#{$int} {
    height: calc((#{$int} * 5px) / 4);
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    clear: both;

    @media screen and #{$min-tablet} {
      height: calc((#{$int} * 5px) / 3);
    }

    @media screen and #{$min-large-tablet} {
      height: calc((#{$int} * 5px) / 2);
    }

    @media screen and #{$min-small-laptop}{
      height: calc((#{$int} * 5px) / 1.5);
    }

    @media screen and #{$min-laptop} {
      height: calc((#{$int} * 5px));
    }
  }
}