<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{$basePath}/dist/main.css">
    <title>{ifset title}{include title|stripHtml} | {/ifset}eFabrica Users CRM</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-papaya-whip shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" n:href=Default:default">CMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {if $presenter->isLinkCurrent('User:*')} active{/if}" aria-current="page" n:href="User:default">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  {if $presenter->isLinkCurrent('Attribute:*')} active{/if}" n:href="Attribute:default">Attributes</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container position-relative">
    {snippet flashmessages}
        <div role="alert" n:foreach="$flashes as $flash"
             class="alert w-100 alert-dismissible fade show {$flash->type} ">{$flash->message}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {/snippet}
</div>

<div class="container">
    <div class="spacer-15"></div>
    {include content}
</div>

<div id="loader"></div>

<script src="{$basePath}/dist/bundle.js"></script>
{block scripts}
{/block}
</body>
</html>