<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{$basePath}/dist/main.css">
    <title>{ifset title}{include title|stripHtml} | {/ifset}eFabrica Users CRM</title>
</head>
<body>

<nav class="bg-papaya-whip diff-shadow">
    <a class="brand font-size-15" n:href=Default:default">CMS</a>
    <div class="menu">
        <ul>
            <li class="nav-item">
                <a class="nav-link {if $presenter->isLinkCurrent('User:*')} active{/if}" aria-current="page" n:href="User:default">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  {if $presenter->isLinkCurrent('Attribute:*')} active{/if}" n:href="Attribute:default">Attributes</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container position-relative">
    {snippet flashmessages}
        <div role="alert" n:foreach="$flashes as $flash"
             class="alert w-100 alert-dismissible fade show {$flash->type} ">{$flash->message}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {/snippet}
</div>

<div class="container">
    <div class="spacer-15"></div>
    {include content}
</div>

<div id="loader"></div>

<script src="{$basePath}/dist/bundle.js"></script>
{block scripts}
{/block}
</body>
</html>